.logo {
    width: 100px;
    height: auto;
}

.logo-transmed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-transmed .logo-text {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.trans, .med {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
}

.trans {
    color: #e9120e;
}

.med {
    color: #1045ee;
    border-left: 1px solid #1045ee;
    padding-left: 8px;
    margin-left: 8px;
}

.logo-text p {
    text-transform: uppercase;
    color: dodgerblue;
}

@media screen and (max-width: 880px){
    .logo {
        width: 50px;
    }

    .logo-text p {
        font-size: 14px;
    }

    .trans, .med {
        font-size: 16px;
    }

    .logo-transmed .logo-text {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .logo-transmed {
        justify-content: center;
        align-items: center;
    }
}